<h1>All Resources</h1>

<% @resources.each do |resource| %>
   <ul>
     <li>Title: <%= link_to resource.title, resource %> </li>
     <li>Kind : <%= resource.kind %></li>
     <li>Subject <%= resource.subject_id %></li>
   </ul>


<% end %>
